body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.join-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#joinButton {
    border-radius: 0 4px 4px 0;
}

#startGame {
    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 24px;
}

li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
    .join-section {
        flex-direction: column;
    }

    input[type="text"], #joinButton {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }
}

#imageFrame {
    border: none;
}

#userList li {
    transition: color 0.3s ease;
}

#userList li:hover {
    color: #ff6b6b; /* Change this to any color you prefer */
    cursor: pointer;
}
